body{
    margin: 0px;
    padding: 0px;
    background-image: url(fondoblanco.png);
}
.header1 {
    background-image: url(18.jpg);
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
   margin: 3px;
}
.mtb {
    height: 150px;  
}
.socials {
    list-style: none;
    text-align: center;
    padding: 0px;
}
.socials li {
    display: inline-block;
    margin: 5px;
}

.dropdown{
display: flex;
justify-content:end;
margin-left: 10px;
border-radius: 15px;
border: none;
}
.input {
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #a0a0a0;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    min-width: 500px;
    color: white;
   }
   .input:focus {
    outline-color: rgb(146, 145, 145);  
   }
   .buscador {
    display: flex;
    justify-content: center;
   }
   .homtr {
    display: flex;
    justify-content: center;
   }
.encontra {
    display: flex;
    justify-content: center;
    font-size: 40px;
} 
.arturito {
    display: flex;
    justify-content: center;
    height: 500px;
    margin-top: 10px;
}
.card {
    display: flex;
    justify-content: space-around;
    
  }
  .card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fc9d05;

  }
  .finalfoot{
    background-color:#f8e9cf;
    margin-top: 10px;
  }
.titulo-seccion {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    background-color: #f8e9cf;
}
.redes-sociales i {
    font-size: 30px;
    padding: 13px;
}
.volverinicio {
    display: flex;
    justify-content: start;
    text-decoration: none;
}
.formulario {
    display: flex;
    justify-content: center;
}
.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgb(12, 11, 11);
  }
  .input-contenedor {
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .fondosesion {
    background-image: url(fondoblanco.png); 
  }
.arturo {
    display: flex;
    justify-content: center;  
}
.subtitulo {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.mitrabajo1 {
    display: flex;
    justify-content: center;
}
.mt1{
    text-decoration: none;
    color: #222;
}
.mt1:hover{
   color: #fc9d05;
}
.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #222;
}
.link:hover {
    color: #fc9d05;
}
.verPerfil {
    text-decoration: none;
    color: rgb(65, 125, 255);
}
.verPerfil:hover {
    background-color: #FFD695;
    border-radius: 22px 100px;
}
#perfilCarp {
    text-decoration: none;
    color: rgb(65, 125, 255);
}
#perfilCarp:hover {
    background-color: #FFD695;
    border-radius: 22px 100px;
}
.contact {
    text-decoration: none;
    color: rgb(235, 193, 10);
  
}
.contact:hover {
    background-color: #FFD695;
    border-radius: 22px 100px;
    color: #222;
}
.customer {
    display: flex;
    justify-content: center;
}
.ingreseDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 10px rgb(12, 11, 11);
}
#p1 {
    display: flex;
    justify-content: center;
}
.column-2 {
    display: grid;
    align-content: space-around;
}
.botoncito {
    display: flex;
    justify-content: center;
    width: 50px;
}

#carpperfil {
text-align: center;
height: 300px;
padding: 12px;
background-image: url(18.jpg);
margin: 10px;
}
#avatar {
    width: 270px;
    height: 250px;
    border-radius: 50%;
}
.marcosrafael {
    font-size: 30px;
}
.acercade {
    border-style:groove;
}

#puntajes{
    padding-left: 10px;
}
.form-select {
    padding-left: 10px;
    max-width: 25%;
}
#contactartrab {
    padding-left: 10px;
}
#puntuacionYrecomendacion {
    padding-top: 15px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.fomentartrab{
    display: flex;
    justify-content: center;
}
.logoperfil {
display: flex;
justify-content: center;
height: 10rem;
}
#loguito {
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px;
}
#enviarPunt {
    padding-top: 10px;
    padding-left: 10px;
}
.recomienda {
    padding-top: 15px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
    #switch {
        font-size: 13px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
        
       }
       
       
       #switch input {
        opacity: 0;
        width: 0;
        height: 0;
       }
       
     
       .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 30px;
       }
       
       .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        background-color: white;
        transition: .4s;
       }
       
       input:checked + .slider {
        background-color: rgb(0,221,80);
       }
       
       input:focus + .slider {
        box-shadow: 0 0 1px rgb(0,221,80);
       }
       
       input:checked + .slider:before {
        transform: translateX(1.5em);
       }
@media screen and (min-width: 240) {


    .header1 {
        background-color:#FFD695;
        height: 100px;
    }
    .mtb {
        height: 100px;   
    }
    .dropdown{
    display: flex;
    justify-content:end;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
    }
    
    .input {
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #a0a0a0;
        box-shadow: 6px 6px 12px #ffffff,
                    -6px -6px 12px #c5c5c5;
        font-size: medium;
        font-weight: bold;
        min-width: 500px;
        color: white;
        
       }
       
       .input:focus {
        outline-color: rgb(146, 145, 145);
        
    
       }
       .buscador {
        display: flex;
        justify-content: center;
        margin-top: 300px;
       }
    
       .homtr {
        display: flex;
        justify-content: center;
       }
       
    }